#Tạo file .env để đặt mật khẩu tài khoản cho postgreSQL
SPRING_PROFILES_ACTIVE=local

# order_db — gồm Checkout Session, Order, snapshot và Saga.
DB_URL=jdbc:postgresql://localhost:5432/order_db
DB_USERNAME=your_postgres_username
DB_PASSWORD=your_postgres_password

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=your_rabbitmq_username
RABBITMQ_PASSWORD=your_rabbitmq_password

IDENTITY_SERVICE_BASE_URL=http://localhost:8081
CATALOG_SERVICE_BASE_URL=http://localhost:8082
CART_SERVICE_BASE_URL=http://localhost:8083
PAYMENT_SERVICE_BASE_URL=http://localhost:8085
